__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.pytest_cache/
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
cover/
__pypackages__/
.mypy_cache/
/.vscode/
/.idea/
*.sqlite3
*.db
.DS_Store
*.log
node_modules/
dist/
build/
